@import '~styles/framework';

.removeTipContainer {
  z-index: 1000;
  position: fixed;
}

.removeTipContainer {
  z-index: 1000;
  position: fixed;
}

.removeTipContent {
  width: 100px;
  height: 40px;
  position: relative;
  background-color: get-color(alpha);
  border-radius: 4px;
}

.removeTipContent::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: get-color(alpha);
  border-bottom: 0;
  margin-left: -7px;
  margin-bottom: -7px;
}

.removeButton {
  height: 100%;
  @include get-font-style(sunne);
}
