@import '~styles/framework';

.root {
  background-color: get-color(light);
  border-radius: spacing(1.5);
  padding: spacing(4);

  @include respond-to(lg) {
    padding: spacing(5);
  }

  h6 {
    padding-bottom: spacing(2);
  }
}
