@import '~styles/framework';

.passwordLabel {
  @include get-font-style(oslo);
}

.passwordSection {
  display: flex;
  flex-direction: column;

  @include respond-to(sm) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.passwordBox {
  display: flex;
  flex-direction: column;
  margin-bottom: spacing(3);

  @include respond-to(sm) {
    margin-bottom: 0;
  }
}

.input {
  margin-bottom: spacing(2);
}

.requirtmentTitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-top: spacing(1);
  margin-bottom: spacing(1);
}

.requirtment {
  margin-top: spacing(1);
  margin-bottom: spacing(4);
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
}

.saveButton {
  width: 100%;
  margin-right: spacing(1);

  @include respond-to(sm) {
    width: auto;
  }
}

.cancelButton {
  margin-left: spacing(1);

  @include respond-to(sm) {
    width: auto;
  }
}

.editButton {
  width: 100%;
  align-self: center;

  @include respond-to(sm) {
    width: auto;
  }
}
