@import '~styles/framework';

.root {
  color: get-color(dark);
  position: sticky;
  top: 0;
  transition: 0.4s;
  user-select: none;
  z-index: 1000;
  overflow: hidden;
  height: map-get($header-heights, navbar-down);

  .container {
    height: 100%;
    display: flex;
    align-items: center;

    > div {
      width: 100%;
    }
  }
}

.headerShadow {
  background-color: get-color(light);
}

.logo {
  height: 100%;
}

.headerLink {
  @include get-font-style(bogota);
}
