@import '~styles/framework';

.container {
  margin-bottom: spacing(10);
  margin-top: spacing(4);

  @include respond-to(sm) {
    max-width: 336px;
    padding: 0;
  }

  @include respond-to(lg) {
    max-width: 350px;
  }
}

.infoText {
  @include get-font-style(bogoto);

  @include respond-to(sm) {
    @include get-font-style(denver);
  }

  @include respond-to(lg) {
    @include get-font-style(denver);
  }
}

.arrowButton {
  margin-bottom: spacing(6);
}

.emailLabel {
  @include get-font-style(oslo);
}
