@import '~styles/framework';

$font-style: kramfors;
$font-styles: map-get($all-font-styles, $font-style);

.root {
  display: inline-flex;
  vertical-align: top;
  user-select: none;
  flex-direction: row;
  align-items: center;
  @include get-font-style($font-style);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input {
  position: absolute;
  left: -9999px;
}

.checkboxHolder {
  height: map-get($font-styles, line-height);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  display: flex;
  justify-content: center;
  $size: 18px;

  min-width: $size;
  min-height: $size;
  max-width: $size;
  max-height: $size;
  background-color: get-color(light);
  border: 2px solid get-color(dark);
  border-radius: 4px;

  transition: ease(background-color), ease(border-color);

  i {
    color: get-color(light);
    opacity: 0;
    transition: ease(opacity);
  }
}

.text {
  padding-left: spacing(1);
}

.input:checked + .checkboxHolder .checkbox {
  display: flex;
  background-color: get-color(primary);
  border: 2px solid get-color(primary);

  i {
    opacity: 1;
  }
}

:global(.is-tabbing) .input:focus + .checkboxHolder .checkbox {
  outline: 5px auto -webkit-focus-ring-color !important;
}
