@import '~styles/framework';

.emailInputWrapper {
  display: flex;
  align-items: center;
  background-color: get-color(alpha, 88);
  padding: spacing(1.5) spacing(2);
  border-radius: spacing(9);
}

.subscribeButton {
  color: get-color(primary);
  @include get-font-style(oslo);
}

.arrow {
  color: get-color(dark);
}
