@import '~styles/framework';

.container {
  margin-bottom: spacing(10);
  margin-top: spacing(4);

  @include respond-to(sm) {
    max-width: 336px;
    padding: 0;
  }

  @include respond-to(lg) {
    max-width: 350px;
  }
}

.form {
  max-width: 343px;
  margin-top: spacing(1);
  margin-bottom: spacing(4);
}

.registerAccount {
  @include get-font-style(rio);
  margin-bottom: spacing(3);
}

.line {
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-bottom: spacing(3);
  margin-top: spacing(4);
}

.lineText {
  padding-left: spacing(3);
  padding-right: spacing(3);
  text-align: center;
}

.arrowButton {
  margin-bottom: spacing(6);
}
