@import '~styles/framework';

.root {
  white-space: pre-wrap;
  margin-top: spacing(4);
  margin-bottom: spacing(28);
  padding: spacing(0, 3);

  > div:not(.header):not(:last-child) {
    margin-bottom: spacing(6);
  }

  p {
    @include get-font-style(kramfors);
  }

  h4 {
    @include get-font-style(moscow);
  }

  h5 {
    @include get-font-style(denver);
    margin-bottom: spacing(1);

    @include respond-to(sm) {
      @include get-font-style(rio);
    }
  }

  .header {
    margin-bottom: spacing(4);
  }

  .boldText {
    font-weight: 600;
  }

  @include respond-to(sm) {
    margin-top: spacing(7);
    width: 100%;
  }

  @include respond-to(lg) {
    max-width: 648px;
    margin-bottom: spacing(30);
  }
}

.signUpContainer {
  background-color: get-color(primary);
  border-radius: spacing(1);
  padding: spacing(2);
  margin-bottom: spacing(9);

  @include respond-to(sm) {
    margin-bottom: spacing(12);
    padding: spacing(4);
  }

  @include respond-to(lg) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: spacing(6);
    margin-bottom: spacing(20);
  }
}

.signUpTitle {
  color: get-color(light);
  text-align: left;

  margin-top: spacing(1);
  @include get-font-style(denver);

  @include respond-to(sm) {
    @include get-font-style(rio);
    max-width: 500px;
  }

  @include respond-to(lg) {
    @include get-font-style(moscow);
    max-width: 680px;
  }
}

.subHeader {
  margin-bottom: spacing(2.5);
}
