@import '~styles/framework';

.root {
  box-shadow: 0 0 50px 0 get-color(dark, null, 0.1);
  border-radius: 8px;
  padding: spacing(4);
  background-color: get-color(light);

  label {
    @include get-font-style(oslo);
  }
}

.box {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: spacing(2);

  @include respond-to(sm) {
    padding-bottom: spacing(3);
  }
}

.closeButton {
  flex-basis: content;
}

.errorMessage {
  display: flex;
}

.errorIcon {
  margin-right: 11px;
}

.success {
  margin-bottom: spacing(1);
}
